@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  white-space: pre;
}

text {
  text-anchor: middle;
  dominant-baseline: central;
}

.root {
  position: absolute;
}

.column {
  float: left;
  width: 50vw;
  height: 100vh;
  overflow: scroll;
}

.text {
  margin: 0 0.5rem;
}

.text span {
  transition: background-color 400ms;
}

.text span.active {
  background-color: #FF0;
  transition: background-color 400ms;
}

.graph {
  background-color: rgba(0,0,0,0.125);
  position: fixed;
  right: 0;
}

.graph svg {
  display: block;
}

.u_paths {
  fill: #FFF;
  stroke: #000;
}

.u_paths path {
  transition: fill 400ms;
}

.u_paths path.active {
  fill: #FF0;
  transition: fill 400ms;
}

.u_texts {
  fill: #000;
  stroke: none;
}

.e_paths {
  fill: none;
  stroke: #000;
}

.e_paths.arrow {
  marker-end: url(#arrow);
}

.e_texts.z1 {
  fill: #E0E0E0;
  stroke: #E0E0E0;
  stroke-width: 4;
}

.e_texts.z2 {
  fill: #000;
  stroke: none;
}
